.reviewImage{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid rgb(9, 95, 234);
}
.bgc-color{
    background-color: #F1F0CC;
}

.bg-cs-clr{
    background-color:  #D9DBF1;
} 