
.font-custom{
  font-size: large;
  font-weight: 1000;
  color: brown;
  font-style: normal;
}
  @media screen and (max-width: 800px) {
    .animation{
      margin-top:10px;
    }

    /* .btn:hover {
      transition-duration: 0.5s;
      transform-origin: 20% 40%;
      background-color: rgb(216, 0, 65);
      transform: scale(1.5);
    } */
  }
  